# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\david\Documents\Indiana University\Second Semester - Spring 2021\Intro to AI\Group Collaborative Gits\Final Project - Group 16\Next Word Predictor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
